@model IEnumerable<EnglishVocabApp.Models.Word>

@{
    ViewData["Title"] = "Words with the same Name";
}

<h2>Words with the name "@Model.FirstOrDefault()?.Name"</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Transcript</th>
            <th>Meaning</th>
            <th>Examples</th>
            <th>Synonyms</th>
            <th>Antonyms</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in Model)
        {
            <tr>
                <td>@word.Name</td>
                <td>@word.Type?.Name</td>
                <td>@word.Transcript</td>
                <td>@word.Meaning</td>
                <td>@word.ExamplesString</td>
                <td>@word.SynonymsString</td>
                <td>@word.AntonymsString</td>
            </tr>
        }
    </tbody>
</table>