@model EnglishVocabApp.ViewModels.WordViewModel

@{
    ViewData["Title"] = "Word Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div>
    <h4>Word Information</h4>
    <dl class="row">
        <dt class="col-sm-2">Transcript</dt>
        <dd class="col-sm-10">@Model.Transcript</dd>

        <dt class="col-sm-2">Meaning</dt>
        <dd class="col-sm-10">@Model.Meaning</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.TypeName</dd>

        <dt class="col-sm-2">Examples</dt>
        <dd class="col-sm-10">
            @if (Model.Examples.Any())
            {
                <ul>
                    @foreach (var example in Model.Examples)
                    {
                        <li>@example</li>
                    }
                </ul>
            }
            else
            {
                <p>No examples available.</p>
            }
        </dd>

        <dt class="col-sm-2">Synonyms</dt>
        <dd class="col-sm-10">
            @if (Model.Synonyms.Any())
            {
                <ul>
                    @foreach (var synonym in Model.Synonyms)
                    {
                        <li>@synonym</li>
                    }
                </ul>
            }
            else
            {
                <p>No synonyms available.</p>
            }
        </dd>

        <dt class="col-sm-2">Antonyms</dt>
        <dd class="col-sm-10">
            @if (Model.Antonyms.Any())
            {
                <ul>
                    @foreach (var antonym in Model.Antonyms)
                    {
                        <li>@antonym</li>
                    }
                </ul>
            }
            else
            {
                <p>No antonyms available.</p>
            }
        </dd>
    </dl>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</div>
