@model IEnumerable<EnglishVocabApp.ViewModels.WordViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-transform: uppercase; text-align: center;">List of all words:</h1>

<p style="text-align: center;">
    <a asp-action="Create" style="text-decoration: none; color: #5daade; font-weight: bold; text-transform: uppercase;">+ Add new word</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam" style="text-decoration: none; color: #5daade;">
                    Word
                </a>
            </th>
            <th>
                Transcript
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TypeSortParam" style="text-decoration: none; color: #5daade;">
                    Type
                </a>
            </th>
            <th>Meaning</th>
            <th>Examples</th>
            <th>Synonyms</th>
            <th>Antonyms</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transcript)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meaning)
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.ExamplesString))
                    {
                        @Html.Raw("- " + item.ExamplesString.Replace(";", "<br>- "))
                        // replaces ';' with <br>- for multiline display
                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td>
                    @(item.SynonymsString != null ? string.Join(", ", item.SynonymsString) : "None")
                </td>
                <td>
                    @(item.AntonymsString != null ? string.Join(", ", item.AntonymsString) : "None")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn rounded-pill w-60 mb-2"
                       style="background-color: #ffffff; color: grey; border: 1px solid #d3d3d3; padding-left: 15px; padding-right: 15px; font-weight: 500;"
                       onmouseover="this.style.backgroundColor='#f1f1f1';"
                       onmouseout="this.style.backgroundColor='#ffffff';">
                        <i class="fa fa-pen-alt" aria-hidden="true" style="color: #808080;"></i> Edit
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn rounded-pill w-60 mb-2"
                       style="background-color: #ffffff; color: grey; border: 1px solid #d3d3d3; padding-left: 15px; padding-right: 15px; font-weight: 500;"
                       onmouseover="this.style.backgroundColor='#f1f1f1';"
                       onmouseout="this.style.backgroundColor='#ffffff';">
                        <i class="fa fa-scroll" aria-hidden="true" style="color: #808080;"></i> Details
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn rounded-pill w-60 "
                       style="background-color: #555555; color: white; border: none; font-weight: 500;"
                       onmouseover="this.style.backgroundColor='#777777';"
                       onmouseout="this.style.backgroundColor='#555555';">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add FontAwesome CDN link in the <head> section of your layout file (_Layout.cshtml) -->
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
}

