@using Humanizer.Localisation
@using Microsoft.AspNetCore.Mvc.Localization

@model EnglishVocabApp.Models.PaginateList<Folder, EnglishVocabApp.ViewModels.FolderViewModel>

@using System.Security.Claims

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["lblTitleFold"];
}

<h2 style="text-transform: uppercase; text-align: center; margin-top: 30px;">@Localizer["lblTitleFold"]:</h2>

<div class="d-flex justify-content-between">
    <button class="btn rounded-pill w-60 mb-2" onclick="addEntity('/Folders/Create')"
            style="background-color: #e0f2ff; color: #288bbf; border: 1px solid #cfebff; padding-left: 15px; padding-right: 15px; font-weight: 500;"
            onmouseover="this.style.backgroundColor='#cae7fc';"
            onmouseout="this.style.backgroundColor='#e0f2ff';">
        <i class="fa fa-folder" aria-hidden="true" style="color: #288bbf; margin-right: 8px;"></i>+ @Localizer["lblCreateNewFolder"]
    </button>

    <a class="btn rounded-pill w-60 mb-2" href="/Folders/MyFolders"
       style="background-color: #e0f2ff; color: #288bbf; border: 1px solid #cfebff; padding-left: 15px; padding-right: 15px; font-weight: 500;"
       onmouseover="this.style.backgroundColor='#cae7fc';"
       onmouseout="this.style.backgroundColor='#e0f2ff';">
        @Localizer["lblMyFolders"] <i class="fa fa-folder-open" aria-hidden="true" style="color: #288bbf; margin-left: 8px;"></i>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IsPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
            bool isOwner = item.UserId == userId;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.IsPrivate)
                    {
                        <span class="material-icons" style="padding-left:25px;">lock_outline</span> <!-- Closed Lock Outline -->
                    }
                    else
                    {
                        <span class="material-icons" style="padding-left:25px;">lock_open</span>   <!-- Opened Lock -->
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a class="btn rounded-pill w-60 mb-2" asp-action="WordsInFolder" asp-route-folderId="@item.Id"
                       style="background-color: #ebf6ff; color: #3d92bf; border: 1px solid #cfebff; padding-left: 15px; padding-right: 15px; font-weight: 500;"
                       onmouseover="this.style.backgroundColor='#d9efff';"
                       onmouseout="this.style.backgroundColor='#ebf6ff';">
                        <i class="fas fa-graduation-cap" aria-hidden="true" style="color: #3d92bf; margin-right: 8px;"></i>@Localizer["lblStudyWordsFolder"]
                    </a>

                    <button class="btn rounded-pill w-60 mb-2" onclick="addEntity('/Folders/Details/@item.Id')"
                            style="background-color: #ffffff; color: grey; border: 1px solid #d3d3d3; padding-left: 15px; padding-right: 15px; font-weight: 500;"
                            onmouseover="this.style.backgroundColor='#f1f1f1';"
                            onmouseout="this.style.backgroundColor='#ffffff';">
                        <i class="fa fa-scroll" aria-hidden="true" style="color: #808080; margin-right: 8px;"></i> @Localizer["lblDetailsAboutFolder"]
                    </button>
                    @if (isOwner)
                    {
                        <button class="btn rounded-pill w-60 mb-2" onclick="addEntity('/Folders/Edit/@item.Id')"
                                style="background-color: #ffffff; color: grey; border: 1px solid #d3d3d3; padding-left: 15px; padding-right: 15px; font-weight: 500;"
                                onmouseover="this.style.backgroundColor='#f1f1f1';"
                                onmouseout="this.style.backgroundColor='#ffffff';">
                            <i class="fa fa-feather" aria-hidden="true" style="color: #808080; margin-right: 8px;"></i> @Localizer["lblEditFolder"]
                        </button>
                        <button class="btn rounded-pill w-60 mb-2" onclick="addEntity('/Folders/Delete/@item.Id')"
                                style="background-color: #555555; color: white; border: none; font-weight: 500;"
                                onmouseover="this.style.backgroundColor='#777777';"
                                onmouseout="this.style.backgroundColor='#555555';">
                            <i class="fa fa-trash" aria-hidden="true" style="margin-right: 8px;"></i> @Localizer["lblDeleteThisFolder"]
                        </button>
                    }

                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        //var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

                        // Check if the user owns the folder or has already saved it
                        //bool isOwner = item.UserId == userId;
                        bool isSaved = item.FoldersUsers?.Any(fu => fu.UserId == userId) ?? false;

                        if (!isOwner)
                        {
                            // Show Save to My Folders button only for folders the user does not own
                            if (!isSaved)
                            {
                                <form asp-action="SaveFolder" asp-controller="Folders" method="post" style="display:inline;">
                                    <input type="hidden" name="folderId" value="@item.Id" />
                                    @* <button type="submit" class="btn btn-sm btn-primary">@Localizer["lblSaveToTheListFolder"]</button> *@
                                    <button type="submit" class="btn rounded-pill w-60 mb-2"
                                            style="background-color: #ffffff; color: grey;border: 1px solid #d3d3d3; font-weight: 500;"
                                            onmouseover="this.style.backgroundColor='#f1f1f1';"
                                            onmouseout="this.style.backgroundColor='#ffffff';">
                                        <i class="fa fa-paperclip" aria-hidden="true" style="margin-right: 8px;"></i>@Localizer["lblSaveToTheListFolder"]
                                    </button>
                                </form>
                            }
                            // Show Remove from My Folders button if the user has saved the folder
                            else if (isSaved)
                            {
                                <form asp-action="RemoveFolder" asp-controller="Folders" method="post" style="display:inline;">
                                    <input type="hidden" name="folderId" value="@item.Id" />
                                    <button type="submit" class="btn rounded-pill w-60 mb-2"
                                            style="background-color: #555555; color: white; border: none; font-weight: 500;"
                                            onmouseover="this.style.backgroundColor='#777777';"
                                            onmouseout="this.style.backgroundColor='#555555';">
                                        <i class="fa fa-trash" aria-hidden="true" style="margin-right: 8px;"></i>@Localizer["lblRemoveFromTheListFolder"]
                                    </button>
                                    @* <button type="submit" class="btn btn-sm btn-danger">@Localizer["lblRemoveFromTheListFolder"]</button> *@
                                </form>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align: center; margin-top: 40px;">
    <div id="FolderPages">
        <a class="btn @(Model.HasPreviousPage ? "" : "disabled") rounded-pill w-60 mb-2"
           style="background-color: #555555; color: white; border: none; font-weight: 500;"
           onmouseover="this.style.backgroundColor='#777777';"
           onmouseout="this.style.backgroundColor='#555555';"
           href="/folders/index?pageIndex=@(Model.PageIndex - 1)">
            <i class="fas fa-arrow-left" style="color: white; margin-right: 8px;"></i>@Localizer["lblPreviousFolder"]
        </a>

        <a class="btn @(Model.HasNextPage ? "" : "disabled") rounded-pill w-60 mb-2"
           style="background-color: #555555; color: white; border: none; font-weight: 500;"
           onmouseover="this.style.backgroundColor='#777777';"
           onmouseout="this.style.backgroundColor='#555555';"
           href="/folders/index?pageIndex=@(Model.PageIndex + 1)">
            @Localizer["lblNextFolder"]<i class="fas fa-arrow-right" style="color: white; margin-left: 8px;"></i>
        </a>
    </div>
    <label for="FolderPages">
        @Localizer["lblCurrentPageFolder", Model.PageIndex, Model.TotalPages]
    </label>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">