@using Humanizer.Localisation
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<EnglishVocabApp.ViewModels.TypeViewModel>


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["lblTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["lblTitle"]</h1>

<p>
    <button class="btn btn-primary" onclick="addEntity('/Types/Create')">
        @Localizer["lblCreateNewType"]
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <button class="btn btn-info btn-sm" onclick="addEntity('/Types/Details/@item.Id')">
                        @Localizer["lblDetailsType"]
                    </button>  |
                    <button class="btn btn-warning btn-sm" onclick="addEntity('/Types/Edit/@item.Id')">
                        @Localizer["lblEditType"]
                    </button> |
                    <button class="btn btn-danger btn-sm" onclick="addEntity('/Types/Delete/@item.Id')">
                        @Localizer["lblDeleteType"]
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
